
@{
    ViewBag.Title = "DivideByZero";
}

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DivideByZero Error</title>
</head>
<body>
    <hgroup>
        <h1>Divide by Zero Error Occured</h1>
    </hgroup>
</body>
</html>



