@using HTML_HelpersPrj.CustomHelpers
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<h2>Static Custom Helpers</h2>
<p>
    @CustomStaticHelpers.LabelWithMark("This is an Example for Static Custome Helpers")
</p>
