<!Doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Different Layout</title>
</head>
<body>
    <div>
        <h3>Different Layout Applied</h3>
        @RenderBody()
    </div>
</body>
</html>

